<template class="template">
    <div class="crossed"><span>Capacitor Control</span></div>
          <table>
            <tr>
              <td style="width: 100px;">
                <label for="capacitor-switch">ON</label>
                <label class="capacitor" style="margin-top: 0px; margin-bottom: -7px; margin-left: 5px;">
                  <input type="checkbox" id="capacitor-switch" checked>
                  <span class="slider round"></span>
                </label>
              </td>
              68pF <input type="checkbox" id="cap1-checkbox" checked style="width: auto; vertical-align: -4px; margin: 0px 30px"> 
              <br>
              68pF <input type="checkbox" id="cap2-checkbox" checked style="width: auto; vertical-align: -4px; margin: 0px 30px">
              <br>
              120pF <input type="checkbox" id="cap3-checkbox" checked style="width: auto; vertical-align: -4px; margin: 0px 22px"> 
              <br>
              220pF <input type="checkbox" id="cap4-checkbox" checked style="width: auto; vertical-align: -4px; margin: 0px 22px">
              <br>
              390pF <input type="checkbox" id="cap5-checkbox" checked style="width: auto; vertical-align: -4px; margin: 0px 22px"> 
              <br>
              820pF <input type="checkbox" id="cap6-checkbox" checked style="width: auto; vertical-align: -4px; margin: 0px 22px">
              <br>
              1500pF <input type="checkbox" id="cap7-checkbox" checked style="width: auto; vertical-align: -4px; margin: 0px 15px"> 
              <br>
              3300pF <input type="checkbox" id="cap8-checkbox" checked style="width: auto; vertical-align: -4px; margin: 0px 15px">
              <br>
              </td>
            </tr>
          </table>
      </div>
</template>