<template class="template">
  <div class="crossed">Control</div>
  <table>
  <tbody>
  <tr>
  <th>Capacitors</th>
  <th>Manual Control</th>
  <th>68pF</th>
  <th>68pF</th>
  <th>120pF</th>
  <th>220pF</th>
  <th>390pF</th>
  <th>820pF</th>
  <th>1500pF</th>
  <th>3300pF</th>
  </tr>
  <tr>
  <td>ON / OFF</td>
  <td style="text-align: center;"><input id="capacitor_control" type="button" value="ON" /></td>
  <td style="text-align: center;"><input type="button" value="ON" data-ledindex="0" /></td>
  <td style="text-align: center;"><input type="button" value="ON" data-ledindex="1" /></td>
  <td style="text-align: center;"><input type="button" value="ON" data-ledindex="2" /></td>
  <td style="text-align: center;"><input type="button" value="ON" data-ledindex="3" /></td>
  <td style="text-align: center;"><input type="button" value="ON" data-ledindex="4" /></td>
  <td style="text-align: center;"><input type="button" value="ON" data-ledindex="5" /></td>
  <td style="text-align: center;"><input type="button" value="ON" data-ledindex="6" /></td>
  <td style="text-align: center;"><input type="button" value="ON" data-ledindex="7" /></td>
  </tr>
  </tbody>
  </table>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div class="crossed">Data Acquisition</div>
  <table class="full-width">
  <tbody>
  <tr>
  <td style="width: 170px; text-align: center;"><button id="reset-btn" class="default-btn">Reset</button></td>
  <td style="width: 800px;">
  <p style="text-align: center;"><label for="Dataq_val">Acquisition Length (s)</label></p>
  <p style="text-align: center;"><input id="Dataq_slider" class="uflp-control-input" max="10" min="0.1" step="0.1" type="range" value="5" data-command="setAcqTime" /></p>
  <p style="text-align: center;"><input id="Dataq_val" class="uflp-control-input" max="10" min="0.1" step="0.1" type="number" value="5" data-command="setAcqTime" /></p>
  </td>
  <td style="width: 170px; text-align: center;"><button id="trigger-btn" class="default-btn">Trigger</button></td>
  </tr>
  </tbody>
  </table>
  <p>&nbsp;</p>
</template>
